
<mat-dialog-content class="insertChangeFormdialogContainer">
<mat-grid-list cols="5" rowHeight="80px" class="gridContainer">
    <mat-grid-tile
        [colspan]="5"
        [rowspan]="1">
        <h1 class="selectSourceObjectModalLabel" mat-dialog-title>Insert / Change Form</h1>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="5"
        [rowspan]="1">
        <div class="selectSourceInput">
            <h2 class="selectSourceInputLabel" mat-dialog-title>Column 1:</h2>
            <input type="text">
        </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="5"
        [rowspan]="1">
        <div class="selectSourceInput">
            <h2 class="selectSourceInputLabel" mat-dialog-title>Column 2:</h2>
            <input type="text">
        </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="5"
        [rowspan]="1">
        <div class="selectSourceInput">
            <h2 class="selectSourceInputLabel" mat-dialog-title>Column 3:</h2>
            <input type="text">
        </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="5"
        [rowspan]="1">
        <div class="selectSourceInput">
            <h2 class="selectSourceInputLabel" mat-dialog-title>Column 4:</h2>
            <input type="text">
        </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="5"
        [rowspan]="1">
        <div class="selectSourceInput">
            <h2 class="selectSourceInputLabel" mat-dialog-title>Column 5:</h2>
            <input type="text">
        </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="5"
        [rowspan]="1">
        <div class="selectSourceButtonContainer">
            <button class="selectSourceItemButton primaryButton" mat-raised-button color="primary">Save</button>
            <button class="selectSourceItemButton primaryButton" mat-raised-button color="primary">Cancel</button>
        </div>
        
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>