.main-div {
    margin-top: 5pc !important;
}

#save-btn {
    width: 10em;
    padding: 5px;
    margin-top: 2pc;
    font-size: medium;
}

.mat-form-field {
    width: 39em;
}

.action-btn {
    display: flex;
    justify-content: space-between; 
    width: 550px;
}

